<div class="card card-primary bg-light">
<div class="list bg-light">
    <u><h4>Employee List</h4></u>
</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">PHONE</th>
        <th scope="col">DOB</th>
        <th scope="col">ACTIVE</th>
        <th scope="col"> E-MAIL </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Marks</td>
        <td>2222333323</td>
        <td>10/25/1998</td>
        <td>True</td>
        <td>marks@txt.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mary</td>
        <td>3333222232</td>
        <td>10/2/1995</td>
        <td>True</td>
        <td>mary@txt.com</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Johan</td>
        <td>3332223232</td>
        <td>1/25/1996</td>
        <td>True</td>
        <td>johan@txt.com</td>
      </tr>
    </tbody>
  </table>
  </div>